.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.app-nav-accordion .mat-expansion-panel {
  border-radius: 0px !important;
  box-shadow: none !important;
}
.app-nav-accordion .mat-expansion-panel.mat-expansion-panel-spacing {
  margin: 0px;
}
.app-nav-accordion .mat-expansion-panel .mat-expansion-panel-body {
  padding: 0px;
}
.app-nav-accordion .mat-expansion-panel .mat-expansion-panel-header {
  height: 40px;
  padding: 0px 24px 0px 16px;
}
.app-nav-accordion .mat-expansion-panel .mat-expansion-panel-header-title {
  font-size: 11px;
  font-weight: 500;
}
