<div class="login-container">
  <div class="login-content">
    <mat-toolbar class="login-toolbar" color="primary">
    <fa-icon [icon]="ticket" rotate="125" size="2x"></fa-icon>
    <span style="margin-left: 20px;">Hey My Ticket's !</span>
  </mat-toolbar>
    <mat-card>
      <form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">
        <mat-form-field>
          <mat-icon matPrefix>person_outline</mat-icon>
          <input autofocus type="text" matInput placeholder="Username" formControlName="username">
        </mat-form-field>

        <mat-form-field>
          <mat-icon matPrefix>lock_outline</mat-icon>
          <input type="password" autocomplete="false" matInput placeholder="Password" formControlName="password">
        </mat-form-field>

        <ngx-recaptcha2 #captchaElem siteKey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI"
         (success)="handleSuccess($event)" [size]="size"
        [hl]="lang" [theme]="theme" [type]="type"
        formControlName="recaptcha">
        </ngx-recaptcha2>
        <button type="submit" mat-raised-button color="primary">Sign In To Account</button>
        <a href="" class="textForgotpassword">Forgot Password ?</a>


      </form>
    </mat-card>

  <div class="footer">
    <p href="">New To Site ?</p>
    <a href="" style="margin-top: 20px;" routerLink="/registration">Create Account</a>
  </div>
</div>
